<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/style3.css">
    
    
        
</head>
<body>

    <nav>
        <div class="logo">
            <a href="https://www.pursuitsoftware.com/" target="_blank">  <img src="/img_src/logo_pursuit.jpg" alt="Logo" > </a>
            <h2>Information Security Analysis Program</h2>
        </div>
        <ul class="menu">
            <li><a href="#">Home</a></li>
            <li><a href="/sign">Sign In</a></li>
            <li><a href="/redirect">Register</a></li>
            <li><a href="/contact">Contact</a></li>
        </ul>
        <div class="user-profile">
           <a href="http://127.0.0.1:3002/home.html"> <img src="/img_src/user_icon.png" alt="User Profile"> </a>
            <span>Welcome, Guest</span>
        </div>
    </nav>
    

    <section>
        <h2>Cybersecurity Starts with You</h2>
        <p>In a world where our lives are increasingly intertwined with technology, understanding the fundamentals of cybersecurity is not just an option – it's a necessity...</p>

        <h3>What We Offer:</h3>
        <ul>
            <li>Interactive Learning Modules: Dive into engaging, user-friendly modules...</li>
            <li>Real-Life Scenarios: Learn from real-world examples and case studies...</li>
            <li>Stay Updated: The digital landscape is ever-changing...</li>
            <li>Community Hub: Join our vibrant community of digital guardians...</li>
        </ul>

        <h3>Why Cybersecurity Matters:</h3>
        <ul>
            <li>Protect Your Identity: Safeguard your personal and financial information...</li>
            <li>Secure Your Digital Footprint: Learn how to navigate the web without leaving traces...</li>
            <li>Defend Against Cyber Threats: Equip yourself with the knowledge to recognize and thwart...</li>
        </ul>

        <h3>Join the Movement:</h3>
        <p>Become a part of the solution! Spread the word, share the knowledge, and together, let's build a digital landscape that's secure for all.</p>
        <!-- <form action="/redirect" method="get"> -->
        <button  class="glow-on-hover" type="button" onclick="redirect()" >Register here</button>
        <!-- </form> -->
    </section>
    <footer>
        <p>&copy; Pursuit Software Private Limited</p>
    </footer>

    <script>
        function redirect() {
          console.log("button clicked");
          window.location.href = '/redirect';
        }
    </script>

</body>
</html>
