body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
}

.sidebar {
    width: 20%;
    background-color: #f1f1f1;
    padding: 20px;
}

.sidebar h2 {
    text-align: center;
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar li {
    cursor: pointer;
    padding: 10px;
    margin-bottom: 5px;
    background-color: #ddd;
}

.content {
    flex: 1;
    padding: 20px;
}

